[Desktop Entry]
Version=1.6.0.03
Type=Application
Categories=Game;StrategyGame
Name=Hostile Takeover
Comment=Hostile Takeover, an Open Source RTS (formely known as Warfare Inc.)
Exec=hostiletakeover.sh
Icon=ht.png
Terminal=false
StartupNotify=false

[Package Entry]
Id=ptitSeb_ht
Arch=armhf
Exec=hostiletakeover.sh
Name=Hostile Takeover
Version=1.6.0.03
Icon=ht.png
Dependency[deb]=libsdl1.2pyra;


